node_modules/
.env
.env.*
dist/
build/

# env files
backend/.env
frontend/.env
.env

# dependencies
backend/node_modules/
frontend/node_modules/
**/node_modules/

# build output
frontend/dist/

# images and uploads
backend/uploads/
backend/uploads/**
backend/uploads/**/**
backend/uploads/**/**/**
backend/uploads/**/**/**/**
backend/uploads/**/**/**/**/**
backend/uploads/**/**/**/**/**/**
backend/uploads/**/**/**/**/**/**/**
backend/uploads/**/**/**/**/**/**/**/**
backend/uploads/**/**/**/**/**/**/**/**/**