/* Global base styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --jw-font: "Roboto", system-ui, -apple-system, "Segoe UI", Arial, sans-serif;

  font-family: var(--jw-font);
  line-height: 1.5;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--jw-font);
}

button,
input,
select,
textarea {
  font-family: var(--jw-font);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: transparent;
  /* background: #071336; */
}

#root {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

/* Bottom nav layout */
@media (max-width: 768px) {
  .jw-hasBottomNav {
    padding-bottom: 0px;
  }
}
